<div class="survey-form-container">
  <h2>New Survey</h2>

  <form (ngSubmit)="onSubmit()">
    <fieldset>
      <div>
        <label for="name-field" class="name-label">Survey name : </label>
        <input type="text" id="name-field" required [(ngModel)]="model.name" name="name">

        {{model.name}}
      </div>

      <div>
        <label for="start-field" class="start-label">Start : </label>
        <input type="date" id="start-field" required [(ngModel)]="model.start" name="start">
        {{model.start}}
      </div>

      <div>
        <label for="end-field" class="end-label">End : </label>
        <input type="date" id="end-field" required [(ngModel)]="model.end" name="end">
         {{model.end}}
      </div>

      <div>
        <div *ngFor="let question of questions; let i = index; trackBy:trackByFn;">
          <label for="question-{{i}}" class="question">Question {{i+1}} : </label>
          <input type="text" id="question-{{i}}" required [(ngModel)]="questions[i].question" name="question{{i}}">
          {{questions[i].question}}<button (click)="deleteQuestion(question)">X</button>    
        </div>   
        <button (click)="addQuestion()">Add</button>     
      </div>
    </fieldset>


    <input type="submit" value="Submit">
  </form>
</div>