<div *ngIf="question">
  <div class="question-{{question.id}}">
    <h3>
      {{question.question}}
    </h3>
    <div class="answers">
      <input type="radio" name="question-{{question.id}}" value="yes" (change)='onSelectionChange("yes")'> Yes <br>
      <input type="radio" name="question-{{question.id}}" value="no" (change)='onSelectionChange("no")'> No <br>
      <input type="radio" name="question-{{question.id}}" value="abstain" (change)='onSelectionChange("abstain")' checked> Abstain <br>
    </div>
  </div>
</div>